
 .construc-container{
	 margin-top: 50px;
	background-color: #f1f1f1;
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 20px;
}

h1 {
	color: #333;
}

p {
	color: #777;
}

.construction-img {
	margin: 20px auto;
	width: 200px;
}
