

.image-gallery-slide img {
    max-width: 50vw; 
    height: auto; 
    border-radius: 30px;
}

.teamPic-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #0f0f0f;
    z-index: -1;
}

.image-gallery-description {

    position: fixed;
    bottom: 20px !important;
    left: 0;
    width: 100%;
    background: transparent !important;
}

    .image-gallery-description p {

        border-radius: 30px;
        font-size: 20px;
        background-color: #0f0f0f;
        color: #ffffff !important;
    }

.image-gallery-left-nav,
.image-gallery-right-nav {
    top: 50px; 
}

.image-gallery-left-nav {
    margin-left: -50% !important;
}

.image-gallery-right-nav {
    margin-right: -50% !important;
}


@media only screen and (max-width: 1000px) {
    .image-gallery-slide img {
        max-width: 100%;
        height: auto;
        border-radius: 0;
    }

    .image-gallery-left-nav {
        margin-left: 0 !important;
    }

    .image-gallery-right-nav {
        margin-right: 0 !important;
    }

}

