/* Carousel.css */

/* Add custom styles for the carousel images */
.image-gallery-slide img {
    max-width: 50vw; /* Adjust the maximum width as per your requirement */
    height: auto; /* Maintain aspect ratio */
    border-radius: 30px;
}

/* Center the carousel container horizontally */
.teamPic-container {
    display: flex;
    justify-content: center;
}

.image-gallery-description {

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent !important;
}

    .image-gallery-description p {
        border-radius: 30px;
        font-size: 20px;
        background-color: #0f0f0f;
        color: #ffffff !important; /* Text color for the caption - Override any conflicting styles */
    }

.image-gallery-left-nav,
.image-gallery-right-nav {
    top: 50px; /* Adjust the top offset as per your requirement */
}

.image-gallery-left-nav {
    left: -50% !important; /* Adjust the left offset for the left arrow */
}

.image-gallery-right-nav {
    right: -50% !important; /* Adjust the right offset for the right arrow */
}

@media only screen and (max-width: 1000px) {
    .image-gallery-slide img {
      
    }


}
