
body{
    /* background-color: black; */

}

h1{
    color:#e21833;
}
h2{
    color:#ffd200;
}

p{
    color:white;

}
a{
    color:#e21833;
    text-decoration: underline;
}

a:hover{
    color:#ffd200;
}


ol{
    color:white;
    list-style-type:number;
}
