.fredHalfPic {
    width: 55vw;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}


    table th {
        background-color: black;
        color: white;
        padding: 10px;
        width: 50vw;
        margin-left: 10px;
        text-align: center;
        border-bottom: 1px solid white;
    }

table td {
    padding: 10px;
    color: #eee6e6;
    border-bottom: 1px solid #ccc;
}

    table td a {
        color: #7e2ef1;
        text-decoration: underline;
    }


table tr {
    background: rgba(255,255,255,0.3);
}

@media only screen and (min-width: 1000px) {
    table th {   
        width: 25vw;
    }  
    
}

@media only screen and (max-width: 1000px){

    .fredHalfPic {
        width: 100%;
        height: auto;
        border-radius: 0;
    }
}