.App {
    width: 100%;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



body {
    margin-top: 60px;
    min-width: 100%;
    max-width: 100%;
    background: #808080;
    background-repeat: no-repeat;
}

    body::-webkit-scrollbar {
        display: none;
    }

@media only screen and (max-width: 1000px) {


    body {
        background-repeat: no-repeat;
    }
}
